trunk/ATSM/ATSM/Client/ServiceClient/Web References/UserWS/UserWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CallService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsi" type="tns:UserWSI" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserWSI">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ATSMUser" type="tns:ATSMUser" />
          <s:element minOccurs="0" maxOccurs="1" name="IsWsiError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WsiError" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="0" maxOccurs="1" name="Mode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ATSMUser">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="CallServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallServiceResult" type="tns:UserWSI" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CallServiceSoapIn">
    <wsdl:part name="parameters" element="tns:CallService" />
  </wsdl:message>
  <wsdl:message name="CallServiceSoapOut">
    <wsdl:part name="parameters" element="tns:CallServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="UserWSSoap">
    <wsdl:operation name="CallService">
      <wsdl:input message="tns:CallServiceSoapIn" />
      <wsdl:output message="tns:CallServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserWSSoap" type="tns:UserWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallService">
      <soap:operation soapAction="http://tempuri.org/CallService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserWSSoap12" type="tns:UserWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallService">
      <soap12:operation soapAction="http://tempuri.org/CallService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserWS">
    <wsdl:port name="UserWSSoap" binding="tns:UserWSSoap">
      <soap:address location="http://localhost:54570/UserWS.asmx" />
    </wsdl:port>
    <wsdl:port name="UserWSSoap12" binding="tns:UserWSSoap12">
      <soap12:address location="http://localhost:54570/UserWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>