BKAppWebservice/BKApp/ClientForm/Web References/TinTucDaoTaoWS/TinTucDaoTaoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTinTucDaoTao">
        <s:complexType />
      </s:element>
      <s:element name="GetTinTucDaoTaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTinTucDaoTaoResult" type="tns:TinTucDaoTaoWSI" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TinTucDaoTaoWSI">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TinTucDaoTao" type="tns:ArrayOfTinTucDaoTao" />
          <s:element minOccurs="0" maxOccurs="1" name="CanBoGiaoVien" type="tns:ArrayOfCanBoGiaoVien" />
          <s:element minOccurs="0" maxOccurs="1" name="TheLoaiTin" type="tns:ArrayOfTheLoaiTin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTinTucDaoTao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TinTucDaoTao" nillable="true" type="tns:TinTucDaoTao" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TinTucDaoTao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Matlt" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Macbgv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tieude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tomtat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Noidung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filedinhkem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Thoigian" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Hinhanh" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CanBoGiaoVien" type="tns:CanBoGiaoVien" />
          <s:element minOccurs="0" maxOccurs="1" name="TheLoaiTin" type="tns:TheLoaiTin" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CanBoGiaoVien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Macbgv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tencbgv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sodt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ngaysinh" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Noisinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Noithuongtru" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gioitinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dantoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tongiao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Socmnd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LopHocPhans" type="tns:ArrayOfLopHocPhan" />
          <s:element minOccurs="0" maxOccurs="1" name="LopSinhHoats" type="tns:ArrayOfLopSinhHoat" />
          <s:element minOccurs="0" maxOccurs="1" name="NhatKies" type="tns:ArrayOfNhatKy" />
          <s:element minOccurs="0" maxOccurs="1" name="TinTucDaoTaos" type="tns:ArrayOfTinTucDaoTao" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLopHocPhan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LopHocPhan" nillable="true" type="tns:LopHocPhan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LopHocPhan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Malhp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mahp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Macbgv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mahk" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Soluong" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Soluongdk" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ngaybatdau" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Ngaythi" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Giothi" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ngaynopdiem" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Ghichu" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChiTietLopHocPhans" type="tns:ArrayOfChiTietLopHocPhan" />
          <s:element minOccurs="0" maxOccurs="1" name="LopHocPhanSinhViens" type="tns:ArrayOfLopHocPhanSinhVien" />
          <s:element minOccurs="0" maxOccurs="1" name="NhatKies" type="tns:ArrayOfNhatKy" />
          <s:element minOccurs="0" maxOccurs="1" name="PhongThis" type="tns:ArrayOfPhongThi" />
          <s:element minOccurs="0" maxOccurs="1" name="CanBoGiaoVien" type="tns:CanBoGiaoVien" />
          <s:element minOccurs="0" maxOccurs="1" name="HocKy" type="tns:HocKy" />
          <s:element minOccurs="0" maxOccurs="1" name="HocPhan" type="tns:HocPhan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfChiTietLopHocPhan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChiTietLopHocPhan" nillable="true" type="tns:ChiTietLopHocPhan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChiTietLopHocPhan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Malhp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Thu" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Tutiet" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Dentiet" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Phong" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LopHocPhan" type="tns:LopHocPhan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLopHocPhanSinhVien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LopHocPhanSinhVien" nillable="true" type="tns:LopHocPhanSinhVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LopHocPhanSinhVien">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Masv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Malhp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Dtkgk" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Dtkck" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Dtkhp" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Dcc" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Tichluy" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Ghichu" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LopHocPhan" type="tns:LopHocPhan" />
          <s:element minOccurs="0" maxOccurs="1" name="SinhVien" type="tns:SinhVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SinhVien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Masv" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Macs" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Maph" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Malsh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tensv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sodt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ngaysinh" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Noisinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Noithuongtru" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gioitinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dantoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tongiao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Socmnd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TinTucSinhViens" type="tns:ArrayOfTinTucSinhVien" />
          <s:element minOccurs="0" maxOccurs="1" name="LopHocPhanSinhViens" type="tns:ArrayOfLopHocPhanSinhVien" />
          <s:element minOccurs="0" maxOccurs="1" name="LopSinhHoatSinhViens" type="tns:ArrayOfLopSinhHoatSinhVien" />
          <s:element minOccurs="0" maxOccurs="1" name="TheoDoiHocKies" type="tns:ArrayOfTheoDoiHocKy" />
          <s:element minOccurs="0" maxOccurs="1" name="ChinhSach" type="tns:ChinhSach" />
          <s:element minOccurs="0" maxOccurs="1" name="PhuHuynh" type="tns:PhuHuynh" />
          <s:element minOccurs="0" maxOccurs="1" name="LopSinhHoat" type="tns:LopSinhHoat" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTinTucSinhVien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TinTucSinhVien" nillable="true" type="tns:TinTucSinhVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TinTucSinhVien">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Masv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tieude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tomtat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Noidung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filedinhkem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Thoigian" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Hinhanh" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SinhVien" type="tns:SinhVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLopSinhHoatSinhVien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LopSinhHoatSinhVien" nillable="true" type="tns:LopSinhHoatSinhVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LopSinhHoatSinhVien">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Malsh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Masv" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sotctl" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Dtbctl" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LopSinhHoat" type="tns:LopSinhHoat" />
          <s:element minOccurs="0" maxOccurs="1" name="SinhVien" type="tns:SinhVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LopSinhHoat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Malsh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Manganh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Macbgv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tenlsh" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Siso" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Khoa" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LopSinhHoatSinhViens" type="tns:ArrayOfLopSinhHoatSinhVien" />
          <s:element minOccurs="0" maxOccurs="1" name="SinhViens" type="tns:ArrayOfSinhVien" />
          <s:element minOccurs="0" maxOccurs="1" name="CanBoGiaoVien" type="tns:CanBoGiaoVien" />
          <s:element minOccurs="0" maxOccurs="1" name="Nganh" type="tns:Nganh" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSinhVien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SinhVien" nillable="true" type="tns:SinhVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Nganh">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Manganh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tennganh" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sotcdc" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sotcbb" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sotctc" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MoTa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Makhoa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LopSinhHoats" type="tns:ArrayOfLopSinhHoat" />
          <s:element minOccurs="0" maxOccurs="1" name="NganhHocPhans" type="tns:ArrayOfNganhHocPhan" />
          <s:element minOccurs="0" maxOccurs="1" name="NganhHocPhanDieuKiens" type="tns:ArrayOfNganhHocPhanDieuKien" />
          <s:element minOccurs="0" maxOccurs="1" name="Khoa" type="tns:Khoa" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLopSinhHoat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LopSinhHoat" nillable="true" type="tns:LopSinhHoat" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNganhHocPhan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NganhHocPhan" nillable="true" type="tns:NganhHocPhan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NganhHocPhan">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Manganh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mahp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tuchon" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nganh" type="tns:Nganh" />
          <s:element minOccurs="0" maxOccurs="1" name="HocPhan" type="tns:HocPhan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HocPhan">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mahp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tenhp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sotc" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Lythuyet" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Thuchanhbt" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Doan" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mota" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ghichu" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LopHocPhans" type="tns:ArrayOfLopHocPhan" />
          <s:element minOccurs="0" maxOccurs="1" name="NganhHocPhans" type="tns:ArrayOfNganhHocPhan" />
          <s:element minOccurs="0" maxOccurs="1" name="NganhHocPhanDieuKiens" type="tns:ArrayOfNganhHocPhanDieuKien" />
          <s:element minOccurs="0" maxOccurs="1" name="TaiLieus" type="tns:ArrayOfTaiLieu" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNganhHocPhanDieuKien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NganhHocPhanDieuKien" nillable="true" type="tns:NganhHocPhanDieuKien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NganhHocPhanDieuKien">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Manganh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mahp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dieukien" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nganh" type="tns:Nganh" />
          <s:element minOccurs="0" maxOccurs="1" name="HocPhan" type="tns:HocPhan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTaiLieu">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TaiLieu" nillable="true" type="tns:TaiLieu" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaiLieu">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mahp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sochuong" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tieude" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Noidung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Baitap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Docthem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ngaycn" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HocPhan" type="tns:HocPhan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Khoa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Makhoa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tenkhoa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nganhs" type="tns:ArrayOfNganh" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNganh">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Nganh" nillable="true" type="tns:Nganh" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTheoDoiHocKy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TheoDoiHocKy" nillable="true" type="tns:TheoDoiHocKy" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TheoDoiHocKy">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Masv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mahk" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tongtc" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Dtbchk" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Diemrl" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Thoigian" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HocKy" type="tns:HocKy" />
          <s:element minOccurs="0" maxOccurs="1" name="SinhVien" type="tns:SinhVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HocKy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mahk" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tenhk" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LopHocPhans" type="tns:ArrayOfLopHocPhan" />
          <s:element minOccurs="0" maxOccurs="1" name="TheoDoiHocKies" type="tns:ArrayOfTheoDoiHocKy" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChinhSach">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Macs" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tencs" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SinhViens" type="tns:ArrayOfSinhVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhuHuynh">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Maph" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Hotencha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nghenghiepcha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hotenme" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nghenghiepme" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Diachi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sodienthoai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SinhViens" type="tns:ArrayOfSinhVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNhatKy">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NhatKy" nillable="true" type="tns:NhatKy" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NhatKy">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Mank" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Malhp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Macbgv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tacvu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lydo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Thoigian" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CanBoGiaoVien" type="tns:CanBoGiaoVien" />
          <s:element minOccurs="0" maxOccurs="1" name="LopHocPhan" type="tns:LopHocPhan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPhongThi">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PhongThi" nillable="true" type="tns:PhongThi" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhongThi">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Maphong" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Malhp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteUserId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LopHocPhan" type="tns:LopHocPhan" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TheLoaiTin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Matlt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Tentlt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TinTucDaoTaos" type="tns:ArrayOfTinTucDaoTao" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCanBoGiaoVien">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CanBoGiaoVien" nillable="true" type="tns:CanBoGiaoVien" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTheLoaiTin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TheLoaiTin" nillable="true" type="tns:TheLoaiTin" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTinTucDaoTaoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTinTucDaoTao" />
  </wsdl:message>
  <wsdl:message name="GetTinTucDaoTaoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTinTucDaoTaoResponse" />
  </wsdl:message>
  <wsdl:portType name="TinTucDaoTaoWSSoap">
    <wsdl:operation name="GetTinTucDaoTao">
      <wsdl:input message="tns:GetTinTucDaoTaoSoapIn" />
      <wsdl:output message="tns:GetTinTucDaoTaoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TinTucDaoTaoWSSoap" type="tns:TinTucDaoTaoWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTinTucDaoTao">
      <soap:operation soapAction="http://tempuri.org/GetTinTucDaoTao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TinTucDaoTaoWSSoap12" type="tns:TinTucDaoTaoWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTinTucDaoTao">
      <soap12:operation soapAction="http://tempuri.org/GetTinTucDaoTao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TinTucDaoTaoWS">
    <wsdl:port name="TinTucDaoTaoWSSoap" binding="tns:TinTucDaoTaoWSSoap">
      <soap:address location="http://localhost:13597/TinTucDaoTaoWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TinTucDaoTaoWSSoap12" binding="tns:TinTucDaoTaoWSSoap12">
      <soap12:address location="http://localhost:13597/TinTucDaoTaoWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>