trunk/BKAppWebservice/BKApp/ClientForm/Web References/ThongTinSinhVienWS/ThongTinSinhVienWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getThongTinSinhVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="masv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getThongTinSinhVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getThongTinSinhVienResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getThongTinSinhVienSoapIn">
    <wsdl:part name="parameters" element="tns:getThongTinSinhVien" />
  </wsdl:message>
  <wsdl:message name="getThongTinSinhVienSoapOut">
    <wsdl:part name="parameters" element="tns:getThongTinSinhVienResponse" />
  </wsdl:message>
  <wsdl:portType name="ThongTinSinhVienWSSoap">
    <wsdl:operation name="getThongTinSinhVien">
      <wsdl:input message="tns:getThongTinSinhVienSoapIn" />
      <wsdl:output message="tns:getThongTinSinhVienSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ThongTinSinhVienWSSoap" type="tns:ThongTinSinhVienWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getThongTinSinhVien">
      <soap:operation soapAction="http://tempuri.org/getThongTinSinhVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ThongTinSinhVienWSSoap12" type="tns:ThongTinSinhVienWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getThongTinSinhVien">
      <soap12:operation soapAction="http://tempuri.org/getThongTinSinhVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ThongTinSinhVienWS">
    <wsdl:port name="ThongTinSinhVienWSSoap" binding="tns:ThongTinSinhVienWSSoap">
      <soap:address location="http://localhost:13597/ThongTinSinhVienWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ThongTinSinhVienWSSoap12" binding="tns:ThongTinSinhVienWSSoap12">
      <soap12:address location="http://localhost:13597/ThongTinSinhVienWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>